* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: 'Orbitron', sans-serif;
}


.main-header,
.header-div,
.body-div,
.form-style,
.body-header
{
display: flex;

}
/*
Header
*/
.main-header {
    width: auto;
    height: 15vh;
    background-color: rgb(255, 255, 255);
    
}
.header-div{
    justify-content: space-around;
    width: 100%;
    margin-left: 15%;
    margin-right: 15%;
    font: 15px 'Roboto', sans-serif;
}

.body-header{
    justify-content: space-between;
    font-family: 'Roboto';
    height: 6vh;
    border-bottom: 1px solid black;
    margin-top: 2%;
}
/* body */

.body-div {
    flex-direction: column;
    justify-content: flex-start;
    width: auto; 
    min-height: 100vh;
    height: 100%;
    margin-left: 30%;
    margin-right: 30%;
    font-family: 'Orbitron', sans-serif;
}

.main-div-landing{
    display: flex;
}


.landing-body-div{
    width: 50%; 
    margin-top: 0;
    min-height: 100vh;
    height: 100vh;
    margin-left: 0;
    font-family: 'Orbitron', sans-serif;
    background-color: rgb(251, 255, 247);
}
.landing-body-right{
    width: 50%; 
    min-height: 100vh;
    height: 100%;
    margin-right: 0;
    font-family: 'Orbitron', sans-serif;
    background-color: rgb(76, 0, 255);
}
.landing-body-righttop{
    background-image: url(img/laptop-img.avif);
    min-height: 58vh;
    min-width: 100%;
    margin-top: 0;
    background-size:     cover;
}
hr {

    border-top: 1px solid white; 
    margin-right: 5rem;
   }
.landing-p-text{
    font-size: 1rem;
    margin-top: 5%;
}
.landing-body-bottom{
    text-align: left;
    margin-left: 10%;
    margin-right: auto;
    margin-top: 5%;
    color: white;
    font-size: 1.5rem;
    line-height: 1.5;
}
.landing-center-top{
    display: flex;
    text-align: left;
    flex-direction: column;
    margin-top: 23vh;
    margin-left: 20%;
    margin-right: 20%;
    color: rgb(88, 88, 255);
}
.landing-center-left{
    display: flex;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1rem;
}
.landing-title{
    font-size: 4.5rem;
}

.name-landing{
    color: #616161;
    margin-top: 1rem;
    font-size: 1.2rem;
}

.body-div-flex{
    display: flex;
    background-color: rgb(251, 255, 247);
}
.body-div-left{
    min-width: 10%;
    padding-left: 2%;
    margin-top: 0;
    margin-left: 1%;
    border-right: 1px solid gray;
    padding-top: 2rem;
    /* background-color: white; */
}

.body-divIndex{
    flex-direction: column;
    justify-content: flex-start;
    width: 30%; 
    min-height: 100vh;
    height: 100%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 1%;
    font-family: 'Roboto', sans-serif;
}
.body-divEdit{
    flex-direction: column;
    justify-content: flex-start;
    width: 50%; 
    min-height: 100vh;
    height: 100%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 1%;
    font-family: 'Roboto', sans-serif;
}
.body-div-right{
    width: 15%;
}
.form-div {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}
.form-div p{
    align-self: center;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

.formDes {
    border: 1px gray solid;
    padding: 5%;
    text-align: center;
    width: 100%;
    background-color: white;
    
}
#loginForm{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}



.inputStyle{
  font-family: 'Roboto', sans-serif;
  color: rgb(76, 0, 255);
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  border: none;
  outline: 0;
  border-bottom: 2px solid rgb(76, 0, 255);
  background-color: rgb(255, 255, 255);
  width: 80%;
  height: 3rem;
  display: block;
  margin-bottom: 1rem;
  transition: all 0.3s;
}
.inputStyle-edit{
    font-family: 'Roboto', sans-serif;
    color: rgb(76, 0, 255);
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 1.5rem 2rem;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(76, 0, 255);
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    width: 40%;
    height: 3rem;
    display: block;
    margin-bottom: 1rem;
    transition: all 0.3s;
  }
.headdivStyle{
    max-height: 7rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
  
.messageStyle{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border:1px solid rgb(102, 102, 102);
    min-height: 15rem;
    padding: 5%;    
    display: flex;
    min-width: 100%;
    flex-direction: column;
    background-color: white;
    font-family: 'roboto';
}


.messagetextStyle{
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    margin-top: 2rem;
    margin-left: 0;
}
.msginputStyle{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 90%;
    margin-left:4%;
    margin-right:auto;
    height: 3rem;
    font-family: 'Roboto';
    border: none;
    outline: 0;
    background-color: transparent;
    border-bottom: 1px solid black;

}

.dateStyle{
    display: flex;
    flex-direction: column;
    font-size: 10px;  
    order: 2;
    margin-right: 0;
}
.emailStyle{
    font-size: 10px;  
    order: -1;
    margin-left: 0;
    height: 1rem;
}

#email_display{
    margin-right: 5%;
    font-size: 1.1rem;
}
.header-title-text{
    margin-left: 5%;
    font-size: 1.3rem;
}
a { 
    text-decoration: none; 
    color: black; 
   }
a:visited { 
    text-decoration: none; 
    color: black; 
   }
/* button */
.searchBox { 
    transform:  translate(-50%,50%);
    background: white;
    border-radius: 40px;
    padding: 10px;
    height: 3rem;
    width: 19rem;
    border: 1px solid black;
    margin-left: 53%;
    
}

.searchButton:hover {
  background: #2f3640;
  color : white;
  cursor: pointer;
}
.searchButton{
    color: #2f3640;
    float: right;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.sInput {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0 6px;
    color: #2f3640;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 15rem;

}
#registerBtn{
    color: white;
    background-color: rgb(76, 0, 255);
}
#createBtn{
    color: white;
    background-color: rgb(76, 0, 255);
}


.landingBtn {
    height: 5rem;
    width:25vh;
    padding: 5%, 10%;
    background-color: rgb(255, 255, 255);
    color: rgb(76, 0, 255);
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 1rem;
    font: 500 0.7rem 'Orbitron', sans-serif;
    border: 2px solid rgb(76, 0, 255);
    font-size: 1.5rem;

}

.landingBtn:hover{
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border: 2px solid black;
}

.submitStyle{
    height: 3rem;
    width:20vh;
    padding: 5%, 10%;
    background-color: rgb(255, 255, 255);
    color: rgb(76, 0, 255);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    margin-top: 3rem;
    font: 500 0.7rem 'Orbitron', sans-serif;
    border: 1.5px solid rgb(76, 0, 255);
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
     
}

.submitStyle:hover{
    cursor: pointer;
    background-color: rgb(76, 0, 255);
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
}


.order-button{
    height: 2.5rem;
    width:10vh;
    background-color: rgb(76, 0, 255);
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    font: 500 0.7rem 'Roboto', sans-serif;
    border: 1px solid black;
    box-shadow: 0 0 2px rgba(104, 85, 224, 0.2);
}

.order-button:hover{
    cursor: pointer;
    border: 1.5px solid black;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
}

#settingBtn:hover{
    cursor: pointer;
}


.deleteMsgBtn{
    height: 1.5rem;
    width:8vh;
    background-color: red;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.2rem;
    margin-top: 1rem;
    font: 500 0.7rem 'Orbitron', sans-serif;
    border: 1px solid black;
    
}

.deleteMsgBtn:hover{
    cursor: pointer;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2);
    border: 1.5px solid black;
}
.editMsgBtn{
    height: 1.5rem;
    width:8vh;
    background-color: green;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    font: 500 0.7rem 'Orbitron', sans-serif;
    border: 1px solid black;
    
}

.editMsgBtn:hover{
    cursor: pointer;
    border: 1.5px solid black;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2);
} 


.follow-btn{
    height: 1.7rem;
    width:7vh;
    background-color: rgb(36, 24, 206);
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    font: 500 0.7rem 'Orbitron', sans-serif;
    border: 1px solid black;
}
.follow-btn:hover{
    cursor: pointer;
    border: 1.5px solid black;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2);
}

#loginForm{
    display: none;
}
.userlinkstyle{
    margin-right: 1rem;
}

/* modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 1.3rem;
}
.modalReg {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 1.3rem;
}

.modal-content {
    background-color:rgb(255, 255, 255);
    margin: 15% auto;
    margin-top: 10%; 
    padding: 20px;
    border: 1px solid #073007;
    width: 30%;
    color:rgb(4, 48, 4);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
.regClose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .regClose:hover,
  .regClose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }



  ul {
    position: relative;
    width: 100%;
    margin-right: 2rem;
  }
  li {
    position: relative;
    list-style: none;
    height: 55px;
    width: 60%;
    padding-left: 23px;
    margin-right: 3rem;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  li:hover {
    background-color: #dddddd;
    cursor: pointer;
  }

  .logoutBtn:hover{
cursor: pointer;
  }


  #followedUsersContainer{
    margin-top: 27%;
    color: #797979;
    margin-bottom: 4%;
  }

  .updateInput{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 90%;
  
    height: 3rem;
    font-family: 'Roboto';
    border: none;
    outline: 0;
    background-color: transparent;
    border-bottom: 1px solid black;
  }

  .followed-title{
    margin-top: 22%;
  }