.main-header,
.header-div,
.body-div,
.form-style,
.body-header
{
display: flex;

}
/*
Header
*/
.main-header {
    width: auto;
    height: 15vh;
    background-color: rgb(255, 255, 255);
    
}
.header-div{
    justify-content: space-around;
    width: 100%;
    margin-left: 15%;
    margin-right: 15%;
    font: 15px 'Roboto', sans-serif;
}

.body-header{
    justify-content: space-between;
    font-family: 'Roboto';
    height: 5vh;
}
/* body */

.body-div {
    flex-direction: column;
    justify-content: flex-start;
    width: auto; 
    min-height: 100vh;
    height: 100%;
    margin-left: 30%;
    margin-right: 30%;
    font-family: 'Orbitron', sans-serif;
}
.body-div-flex{
    display: flex;
    background-color: rgb(251, 255, 247);
}
.body-div-left{
    min-width: 15%;
    padding-left: 4%;
    margin-top: 1%;
    border: 1px solid gray;
    background-color: white;
}

.body-divIndex{
    flex-direction: column;
    justify-content: flex-start;
    width: 30%; 
    min-height: 100vh;
    height: 100%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 1%;
    font-family: 'Roboto', sans-serif;
    /* border: 1px gray solid; */
}
.body-div-right{
    width: 15%;
}
.form-div {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}
.form-div p{
    align-self: center;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

.formDes {
    border: 1px gray solid;
    padding: 5%;
    text-align: center;
    width: 98%;
    background-color: white;
    
}
#loginForm{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}



.inputStyle{
  font-family: 'Roboto', sans-serif;
  color: rgb(76, 0, 255);
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  border: none;
  outline: 0;
  border-bottom: 2px solid rgb(76, 0, 255);
  background-color: rgb(255, 255, 255);
  width: 80%;
  height: 3rem;
  display: block;
  margin-bottom: 1rem;
  transition: all 0.3s;
}
.inputStyle-edit{
    font-family: 'Roboto', sans-serif;
    color: rgb(76, 0, 255);
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 1.5rem 2rem;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(76, 0, 255);
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    width: 40%;
    height: 3rem;
    display: block;
    margin-bottom: 1rem;
    transition: all 0.3s;
  }
.headdivStyle{
    max-height: 7rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
  
.messageStyle{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border:1px solid rgb(102, 102, 102);
    min-height: 15rem;
    padding: 1rem;    
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: white;
    font-family: 'roboto';
}


.messagetextStyle{
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    margin-top: 2rem;
    margin-left: 0;
}
.msginputStyle{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 90%;
    margin-left:4%;
    margin-right:auto;
    height: 3rem;
    font-family: 'Roboto';
    border: none;
    outline: 0;
    background-color: transparent;
    border-bottom: 1px solid black;

}

.dateStyle{
    display: flex;
    flex-direction: column;
    font-size: 10px;  
    order: 2;
    margin-right: 0;
}
.emailStyle{
    font-size: 10px;  
    order: -1;
    margin-left: 0;
    height: 1rem;
}

/* button */
.landingBtn {
    height: 5rem;
    width:30vh;
    padding: 5%, 10%;
    background-color: rgb(255, 255, 255);
    color: rgb(76, 0, 255);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    font: 500 0.7rem 'Orbitron', sans-serif;
    border: 1.5px solid rgb(76, 0, 255);
    border-radius: 10%;
}

.landingBtn:hover{
    cursor: pointer;
    background-color: rgb(76, 0, 255);
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.submitStyle{
    height: 3rem;
    width:20vh;
    padding: 5%, 10%;
    background-color: rgb(255, 255, 255);
    color: rgb(76, 0, 255);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    margin-top: 3rem;
    font: 500 0.7rem 'Orbitron', sans-serif;
    border: 1.5px solid rgb(76, 0, 255);
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
     
}
.submitStyle:hover{
    cursor: pointer;
    background-color: rgb(76, 0, 255);
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
}


.order-button{
    height: 2.5rem;
    width:10vh;
    background-color: rgb(255, 255, 255);
    color: rgb(76, 0, 255);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    font: 500 0.7rem 'Roboto', sans-serif;
    border: 1px solid rgb(76, 0, 255);
    box-shadow: 0 0 5px rgba(104, 85, 224, 0.2);
}

.order-button:hover{
    cursor: pointer;
    background-color: rgb(76, 0, 255);
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.deleteMsgBtn{
    height: 1.5rem;
    width:8vh;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.2rem;
    margin-top: 1rem;
    font: 500 0.7rem 'Orbitron', sans-serif;
    border: 1.5px solid rgb(255, 0, 0);
    border-radius: 10%;   
}

.deleteMsgBtn:hover{
    cursor: pointer;
    background-color: rgb(255, 0, 0);
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.editMsgBtn{
    height: 1.5rem;
    width:8vh;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 214, 0);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    font: 500 0.7rem 'Orbitron', sans-serif;
    border: 1.5px solid rgb(21, 255, 0);
    border-radius: 10%;
}

.editMsgBtn:hover{
    cursor: pointer;
    background-color: rgb(37, 255, 37);
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
} 



#loginForm{
    display: none;
}


/* modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 1.3rem;
}
.modalReg {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 1.3rem;
}

.modal-content {
    background-color:rgb(255, 255, 255);
    margin: 15% auto;
    margin-top: 10%; 
    padding: 20px;
    border: 1px solid #073007;
    width: 30%;
    color:rgb(4, 48, 4);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }